<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.sql.interfaces.IOrderItemDao">
    <resultMap id="OrderItemResultMap" type="OrderItem" autoMapping="false">
        <result property="quantity" column="quantity"/>
        <association property="product" column="product_id" javaType="Product"
                     select="com.solvd.sql.interfaces.IProductDao.getById"/>
        <association property="order" column="order_id" javaType="Orders"
                     select="com.solvd.sql.interfaces.IOrdersDao.getById"/>
    </resultMap>
    <insert id="insert" parameterType="OrderItem">
        INSERT INTO order_item (quantity, product_id, order_id) VALUES (#{quantity}, #{product.id}, #{order.id});
    </insert>
    <update id="update" parameterType="OrderItem">
        UPDATE order_item SET
        quantity = #{quantity}, product_id = #{product.id}, order_id = #{order.id}
        WHERE order_id = #{order.id};
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM order_item WHERE order_id = #{order.id};
    </delete>
    <select id="getAll" resultMap="OrderItemResultMap">
        SELECT * FROM order_item;
    </select>
    <select id="getById" parameterType="int" resultMap="OrderItemResultMap">
        SELECT * FROM order_item WHERE order_id = #{order.id};
    </select>
</mapper>