<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.sql.interfaces.IProductPromotionDao">
    <resultMap id="ProductPromotionResultMap" type="ProductPromotion" autoMapping="false">
        <result property="promotionId" column="promotion_id"/>
        <result property="productId" column="product_id"/>
    </resultMap>
    <insert id="insert" parameterType="ProductPromotion">
        INSERT INTO productPromotion (promotion_id, product_id) VALUES (#{promotionId}, #{productId});
    </insert>
    <update id="update" parameterType="ProductPromotion">
        UPDATE productPromotion SET
        promotion_id = #{promotionId}, product_id = #{productId}
        WHERE product_id = #{productId}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM productPromotion WHERE product_id = #{productId};
    </delete>
    <select id="getAll" resultMap="ProductPromotionResultMap">
        SELECT * FROM productPromotion;
    </select>
    <select id="getById" parameterType="int" resultMap="ProductPromotionResultMap">
        SELECT * FROM productPromotion WHERE product_id = #{productId};
    </select>
</mapper>